.bg_mario_Luigi_dark {
    background-image: url('../img/MarioLuigidark.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

.bg_redcontainer {
    background-image: url('../img/bgRed.svg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

.bg_bluecontainer {
    background-image: url('../img/MarioCano.svg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}